/* Code CSS tạm thời */
.covid-19-box { width: 95%; margin: auto;}
.covid-19-box h4 { text-align: center; color: red; font-family: 'Roboto Slab', serif; font-size: 19px;}
.covid-19-box p { text-align: center; font-size: 13px; color: gray;}
.covid-item  {
    background-color: white;
    color: teal;
    padding: 2px;
    margin: 4px auto;
    text-align: center;
    width: 40%;
    text-shadow:0px 0px 0.3px gray;
}
.socanhiem { color: red;}
.dangdieutri { color: green;}
.dakhoi { color: blue;}
.tuvong { color: gray;}
.title-thongtin { font-family: 'Roboto Slab', serif;}
.covid-row {width: 95%; margin: auto;}


 /*media style phone*/
@media only screen and (max-width: 480px) {
	
	body {
	/*background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/04/23/37/625834265090081.jpg);*/
	 /* không lặp lại hình (repeat or no-repeat) */
	background-repeat: no-repeat; 	
	/* cover - bao bọc */
	background-size: cover;
	/* img cố định */
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}

/* header */
	div.header { padding: 10px; background-color: teal; height: 50px;}
	span.lop-left { font-size: 20px; color: white; float: left; font-family: 'Pacifico', cursive; margin-left: 10px;}
	span.lop-right { font-size: 20px; color: white; float: right; font-family: 'Roboto Slab', serif; margin-right: 10px;}

/* content */
	
	/* Time - S */
	div.time-s {
		margin: 5px auto;
		width: 95%;
		/*border: 1px solid teal;*/
		/*border-radius: 50px;*/
		/*background-color: teal;*/
		text-align: center;
	}
	span#time-s {
		color: black;
	}

	div.spandemnguoc { font-family: 'Roboto Slab', serif; text-align: center; margin-top: 10px;}

    /* Post đăng */
    .post-dang {
        width: 95%;
        margin: auto;
    }
    .post-dang-h5 {
        font-size: 15px;
    }

    /* Tag Button */
    .tag-button {
        width: 95%;
    }
    .title-tagbutton {
        margin-left: 10px;
        color: red;
        font-family: 'Roboto Slab', serif;
    }
    .nd-tagbutton {
        margin-left: 10px;
    }

/* footer */
	div.footer { padding: 10px; background-color: teal; height: 65px; color: white}
	p.textinfo { color: white; font-size: 13px; text-align: center;}
	p.textinfo a { color: #00FA9A; text-decoration: none; }

/* Alert */
	div.alert { width: 95%; margin: 10px auto 10px;}

/* time */
	.time{
		padding: 5px 5px;
		/*background-color: #F563E4;*/
		/*border-radius: 30px;*/
		/*border: 1px solid #F563E4;*/
		text-transform: uppercase;
		width: 90%;
		display: flex;
		justify-content: center;
	}
	.middle{ margin-top: 10px; padding: 5px; color: black; margin: auto; text-align: center;}
	.middle span { -webkit-text-stroke-width: 1px; -webkit-text-stroke-color: black;}
	.time span{padding: 0 14px; font-size: 10px;}
	.time span div{font-size: 40px;}

	#carouselExampleIndicators { width: 96%; margin: auto;}
	
    /* Thẻ Tâm Sự */
    .the-tamsu {
        width: 95%;
        margin: auto;
    }
    
	/* Tags */
	div.tags { margin-left: 10px; display: none;} /* Tạm ẩn */
	div.title-tags h4 { font-size: 18px; font-family: 'Roboto Slab', serif;}
	div.nd-tag a { color: white; text-decoration: none; }
	div.nd-tag button {margin: 2px;}

	/* TKB */
	div.table-responsive-sm {width: 95%; margin: auto;}
	thead.thead-dark tr > th {
		width: 57px;
	}

    /* Video tiêu biểu */
    .video-tieu-bieu h4 {
        font-size: 20px;
         font-family: 'Roboto Slab', serif;
         color: red;
         padding: 5px;
         margin-left: 5px;
    }
    .title-video {
        font-family: 'Roboto Slab', serif;
        font-size: 14px;
        margin-left: 10px;
        color: black;
    }
    .video-item {
        border-top: 1px solid blue;
        margin: auto;
        width: 95%;
        padding: 8px;
    }


	/* Lịch Thi */
	div.lichthi { margin: auto; text-align: center; margin-top: 10px;}
	div.lichthi h3 {
		padding: 3px;
		margin: 5px auto;
		font-size: 18px; color: white; font-family: 'Roboto Slab', serif; text-align: center;
		background-color: teal;
		border: 1px  teal solid;
		border-radius: 50px;
		width: 65%; 
	}
}

	/* Author */
	div.author-s1 {
		width: 95%;
		margin: auto;
		background-image: url(img/aerial-view-photography-of-ocean-1249586.jpg);
		background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
  		/*opacity: 0.5;*/
	}
	div.avatar { 
		margin: auto;
		/* Avatar xoay tròn */
		/*animation: xoayvong 10s linear 0s infinite;
    	-webkit-animation: xoayvong 10s linear 0s infinite;
   		-moz-animation: xoayvong 10s linear 0s infinite;
    	-o-animation: xoayvong 10s linear 0s infinite;*/
	}
	div.author-name { margin: 7px auto;}
	div.author-s2 { margin-top: 6px;}
	div.author-s3 { width: 95%; margin: auto;}
	div.icon-p a { margin-left: 10px; text-decoration: none; color: white; font-size: 20px;}

	/* Music */
	.play-music { width: 100%; margin: auto; height: 240px;}

	.play-title {
		width: 60%;
		margin: auto;
		text-align: center;
		background-color: teal;
		border-radius: 50px;
		color: white;
		padding: 5px;
		margin-bottom: 5px;
	}

	#app-cover {position: absolute; right: 0; left: 0; width: 95%; height: 100px; margin: 100px auto 0px;}

/*#bg-artwork { position: fixed; top: -30px; right: -30px; bottom: -30px; left: -30px; background-size: cover; background-position: 50%; filter: blur(4px); -webkit-filter: blur(4px); z-index: 1;}*/

/*#bg-layer
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.51;
    z-index: 2;
}*/

#player { position: relative; height: 100%; z-index: 3;}

#player-track
{
    position: absolute;
    top: 0;
    right: 15px;
    left: 15px;
    padding: 13px 22px 10px 184px;
    background-color: #fff7f7;
    border-radius: 15px 15px 0 0;
    -webkit-transition: 0.3s ease top;
    transition: 0.3s ease top;
    z-index: 1;
}

#player-track.active { top: -95px;}

#album-name { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #54576f; font-size: 17px; font-weight: bold;}

#track-name { color: #acaebd; font-size: 13px; margin: 2px 0 13px 0;}

#track-time
{
    height: 12px;
    margin-bottom: 3px;
    overflow: hidden;
}

#current-time
{
    float: left;
}

#track-length
{
    float: right;
}

#current-time, #track-length
{
    color: transparent;
    font-size: 11px;
    background-color: #ffe8ee;
    border-radius: 10px;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
}

#track-time.active #current-time, #track-time.active #track-length
{
    color: #f86d92;
    background-color: transparent;
}

#s-area, #seek-bar
{
    position: relative;
    height: 4px;
    border-radius: 4px;
}

#s-area
{
    background-color:#ffe8ee;
    cursor: pointer;
}

#ins-time
{
    position: absolute;
    top: -29px;
    color: #fff;
    font-size: 12px;
    white-space: pre;
    padding: 5px 6px;
    border-radius: 4px;
	display:none;
}

#s-hover
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 2;
}

#ins-time, #s-hover
{
    background-color: #3b3d50;
}

#seek-bar
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #fd6d94;
    -webkit-transition: 0.2s ease width;
    transition: 0.2s ease width;
    z-index: 1;
}

#player-content
{
    position: relative;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 15px 40px #656565;
    border-radius: 15px;
    z-index: 2;
}

#album-art
{
    position: absolute;
    top: -40px;
    width: 115px;
    height: 115px;
    margin-left: 40px;
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    box-shadow: 0 0 0 10px #fff;
    border-radius: 50%;
    overflow: hidden;
}

#album-art.active
{
    top: -60px;
    box-shadow: 0 0 0 4px #fff7f7, 0 30px 50px -15px #afb7c1;
}

/* Chấm trong giữa ảnh */
/*#album-art:before
{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: -10px auto 0 auto;
    background-color: #d6dee7;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #fff;
    z-index: 2;
}*/

#album-art img
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
}

#album-art img.active
{
    opacity: 1;
    z-index: 1;
}

#album-art.active img.active
{
    z-index: 1;
    -webkit-animation: rotateAlbumArt 3s linear 0s infinite forwards;
            animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@-webkit-keyframes rotateAlbumArt
{
    0%{ -webkit-transform: rotateZ(0); transform: rotateZ(0); }
    100%{ -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}

@keyframes rotateAlbumArt
{
    0%{ -webkit-transform: rotateZ(0); transform: rotateZ(0); }
    100%{ -webkit-transform: rotateZ(360deg); transform: rotateZ(360deg); }
}

#buffer-box
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 13px;
    color: #1f1f1f;
    font-size: 13px;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding: 6px;
    margin: -12px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.19);
    opacity: 0;
    z-index: 2;
}

#album-art img, #buffer-box
{
    -webkit-transition: 0.1s linear all;
    transition: 0.1s linear all;
}

#album-art.buffering img
{
    opacity: 0.25;
}

#album-art.buffering img.active
{
    opacity: 0.8;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#album-art.buffering #buffer-box
{
    opacity: 1;
}

#player-controls
{
    width: 170px;
    height: 50px;
    margin: 18px 5px 0 50px;
    float: right;
    overflow: hidden;
}

.control
{
    width: 33.333%;
    float: left;
    padding: 12px 0;
}

.button
{
    width: 23px;
    height: 23px;
    padding: 10px;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.button i
{
    display: block;
    color: teal;
    font-size: 23px;
    text-align: center;
    line-height: 1;
}

.button, .button i
{
    -webkit-transition: 0.2s ease all;
    transition: 0.2s ease all;
}


/* List Thành Viên */
.item-xom {
    /*background-color: green;*/
    border-top: 1px solid blue;
    width: 100%;
    padding: 7px;
    /*margin: 1px;*/
}
.item-xom img {
    width: 20%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
}
.item-xom a {
    margin-left: 10px;
    font-size: 17px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Quicksand', sans-serif;
    color: black;
    text-decoration: none;
}

/* Profile Cá Nhân */
.avt-modal-s { text-align: center;}
.avt-modal-s img { width: 70px; height: 70px; margin-right:  auto; margin-left:  -12px; border-radius: 50px;}
.header-info, .footer-info {background-color: teal; color: white;}
.body-info {
    background-image: url(https://images.pexels.com/photos/327308/pexels-photo-327308.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-white { color: white; text-shadow: 0 0 5px black;}


/* Gạch ngang */
div.gachngang { margin: 10px; border-top: 2px #00BFFF solid;}
/* Tạm ẩn */
.hidden {display: none;}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes xoayvong{
	from{
	        -webkit-transform:rotate(0deg);
	        -moz-transform:rotate(0deg);
	        -o-transform:rotate(0deg);
	    }
    to{
	        -webkit-transform:rotate(360deg);
	        -moz-transform:rotate(360deg);
	        -o-transform:rotate(360deg);
	}
}
